<ul>
  <li>I’m calling because our communities need you to stand up for net neutrality.</li>
  <li>By ensuring that the Internet is a level playing field, net neutrality gives Latino people and businesses an equal chance to succeed online.</li>
  <li>The FCC's new rules are the best way to ensure that the Internet stays open, and that opportunity is preserved for Latinos and our allies of every race.</li>
  <li>I’m asking you not to align yourself with telecom lobbyists, Senator Ted Cruz, and Representative Marsha Blackburn in this senseless witch hunt against the President and the FCC.</li>
</ul>

<p class="gray">After they take down your message, don't hang up; press star (*) to connect to the next office.</p>
<p class="gray">Finally, share and grow our movement.</p>
