<div id="cta">

<p>
 The fight over sanctuary cities is moving to the Senate, and we need to make sure Democratic Senators hear from us loud and clear. 
</p>

<p>
  Last week, House Republicans pushed through a bill that would cut off federal funding to sanctuary cities. Democrats in the Senate could stand strong against this bill and stop it in its tracks. But some Democrats – like Senators Feinstein and Durbin – are wavering, threatening to join Donald Trump and Republicans in their demonization of immigrants and sanctuary cities.
</p>

<p>
  Can you give Senate Democrats a quick call and let them know we expect them to stand up for immigrants and public safety? Our call tool makes it quick and easy and provides a script you can read.
</p>

</div>