<div id="cta">

<p>
  Net neutrality is fueling the growing power of Latinos online and off. And now — thanks to you — we’re so close to finally winning the fight to protect a free and open Internet! But we won’t get there if certain corporations get their way.
</p>

<p>
  Members of the Congressional Hispanic Caucus, like Raul Grijalva, are working hard to save our Internet. But unfortunately Comcast and Verizon are busy too: they’re rallying support from a few members of Congress in a last ditch effort to block Internet freedom.
</p>

<p>
  CHC chairwoman Linda Sanchez has supported Net Neutrality in the past and we need her to show her support now more than ever so that Republicans bent on standing in the way of real net neutrality protections don’t block the Federal Communications Commission from doing its job. Representative Sanchez and the rest of the CHC needs to hear from you — call them now and tell them to side with Latinos, not Big Cable.
</p>

<p>
  Everyone who cares about Latino communities, businesses and organizations should be in this fight. Especially if they want to represent Latinos in Congress. Please take a couple of minutes to call members of the CHC, like Linda Sanchez and others, to make sure they know this is a critical issue that our communities care about.
</p>

</div>