<ul class="user_form">
  <li>
    <label for="id_name">Name: * </label>
    <input id="id_name" type="text" name="name" class="long">
  </li>
  <li>
    <label for="id_email">Email: * </label>
    <input id="id_email" type="email" name="email" class="long">
  </li>			
	
  <li>
    <label for="id_zip">ZIP: </label>
    <input id="id_zip" type="text" name="zip" size="5" class="middle">               
  </li>				

  <!-- <li>
    <div class="phone-fieldset">
      <label for="id_phone">Phone: </label>
      <input id="id_phone" type="tel" name="phone" placeholder="Phone *">
    </div>  
     
    <div class="phone-fieldset optin-fieldset">                
      <input id="user_sms_opt_in" type="checkbox" name="user_sms_opt_in">
      <span class="mobile-optin">Receive SMS updates? †</span>
    </div>     
    <div class="clearfix"></div>    
  </li> -->
</ul>